* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.heading {
    letter-spacing: 1px;
    font-size: 4rem;
    text-shadow: 2px 2px #000000;
}

.sub-heading {
    text-shadow: 2px 1px #000000;
    font-size: 19px;
    letter-spacing: 1px;
}

.main-content {
    font-size: 20px;
}

.sub-content {
    font-size: 15px;
}