/* Start of Second tab Your Options */

.your-options-bg {
    background-image: url("../images/options.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 9rem 0 15rem 0;
}

.second-tab .content-right-2nd-tab {
    background-color: #672349;
    border-radius: 15px 0 0 15px;
}

.second-tab .cr-btm {
    letter-spacing: 1px;
}

@media (max-width: 575.98px) {
    .your-options-bg {
        background-image: url("../images/options.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: unset;
        padding: 10rem 0 15rem 0;
    }

    .second-tab {
        position: relative;
    }

    .second-tab h1 {
        position: absolute;
        top: 2rem;
        left: -2rem;
        font-size: 38px;
    }

    .second-tab .ml-5 p {
        position: absolute;
        top: 7.5rem;
        left: -2rem;
        font-size: 17px
    }

    .second-tab .content-right-2nd-tab {
        position: absolute;
        top: 15rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .second-tab {
        position: relative;
    }

    .second-tab h1 {
        position: absolute;
        top: 1rem;
        left: -2rem;
        font-size: 50px;
    }

    .second-tab .ml-5 p {
        position: absolute;
        top: 9rem;
        left: -1.7rem;
        font-size: 17px;
    }

    .content-right-2nd-tab {
        position: absolute;
        top: 15rem;
    }
}